<div class = "contain" style = "background-color: white;">
    <section id = "intro_section">
    <div class = "menu">
        <a class = "intro_button"  id = "info_button" href="/info">INFO</a>
    </div>

    <div id = "intro_text">
        <p style = "background-color: white;">THIS IS A DEEP DIVE INTO AN UNCANNY VALLEY.</br> ENABLE CAMERA ON YOUR DEVICE, PREPARE YOURSELF AND ENTER.</p>
    </div>
    </section>

    <div id ="main_title">
        <svg version="1.1" id="main_title_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 1700 100" enable-background="new 0 0 1700 100" xml:space="preserve">
    <g>
        <g>
            <path id = "u" fill="#B74646" d="M290.118,5.231h11.04v51.72c0,8.88,1.659,15.521,4.98,19.92c3.319,4.4,8.82,6.6,16.5,6.6
                c7.759,0,13.239-2.22,16.44-6.66c3.199-4.439,4.8-11.059,4.8-19.859V5.231h11.04v51.72c0,6.401-0.74,11.861-2.22,16.38
                c-1.481,4.521-3.6,8.261-6.36,11.22c-2.76,2.961-6.162,5.121-10.2,6.48c-4.041,1.359-8.58,2.04-13.62,2.04
                c-10.32,0-18.3-2.88-23.94-8.64c-5.64-5.761-8.46-15.079-8.46-27.961V5.231z"/>
        </g>
        <g>
            <path fill="#B74646" d="M993.248,5.232h10.92l43.561,68.04V5.232h10.68v85.68h-10.561l-43.92-67.68v67.68h-10.68V5.232z"/>
        </g>
        <g>
            <path fill="#B74646" d="M465.766,5.231h10.92l43.56,68.041V5.231h10.68v85.68h-10.56l-43.92-67.68v67.68h-10.68V5.231z"/>
        </g>
        <g>
            <path fill="#B74646" d="M711.253,62.711c-0.479,4.32-1.56,8.34-3.24,12.061c-1.681,3.72-3.96,6.941-6.84,9.66
                c-2.88,2.721-6.381,4.841-10.5,6.359c-4.122,1.52-8.901,2.28-14.341,2.28c-5.92,0-11.24-1.001-15.959-3
                c-4.721-1.999-8.72-4.92-12-8.761c-3.281-3.84-5.82-8.538-7.62-14.1c-1.8-5.559-2.7-11.898-2.7-19.02c0-7.2,0.96-13.599,2.88-19.2
                c1.92-5.599,4.6-10.32,8.04-14.16c3.439-3.84,7.5-6.759,12.18-8.76c4.679-1.999,9.739-3,15.179-3c5.281,0,9.841,0.681,13.681,2.04
                c3.84,1.361,7.099,3.281,9.78,5.76c2.68,2.48,4.84,5.441,6.48,8.88c1.639,3.441,2.898,7.241,3.779,11.4l-10.8,1.8
                c-0.72-3.12-1.661-5.94-2.82-8.46c-1.161-2.52-2.64-4.66-4.44-6.42c-1.799-1.759-3.959-3.1-6.479-4.02
                c-2.521-0.919-5.58-1.38-9.181-1.38c-4.24,0-8.021,0.861-11.34,2.58c-3.32,1.721-6.12,4.122-8.399,7.2
                c-2.28,3.081-4.02,6.801-5.22,11.16c-1.2,4.361-1.8,9.18-1.8,14.46s0.6,10.101,1.8,14.46c1.2,4.361,2.94,8.1,5.22,11.22
                s5.08,5.521,8.399,7.2c3.319,1.68,7.141,2.52,11.461,2.52c3.918,0,7.26-0.498,10.02-1.5c2.76-0.999,5.04-2.418,6.84-4.26
                c1.801-1.84,3.22-4.039,4.26-6.6c1.039-2.56,1.801-5.359,2.28-8.4H711.253z"/>
        </g>
        <g>
            <path fill="#B74646" d="M1169.076,5.231h10.92l43.56,68.04V5.231h10.681v85.681h-10.561l-43.92-67.681v67.681h-10.68V5.231z"/>
        </g>
        <g>
            <path fill="#B74646" d="M1373.763,54.552l-29.88-49.32h12.72l22.681,39.6l23.279-39.6h11.641l-29.28,49.32v36.36h-11.16V54.552z"
                />
        </g>
        <g>
            <path fill="#B74646" d="M844.24,5.231h11.64l33.24,85.68h-12l-9-23.88H831.4l-9,23.88H810.88L844.24,5.231z M864.76,57.432
                l-15.119-39.721L834.76,57.432H864.76z"/>
        </g>
    </g>
    </svg>
    </div>

    <div id = "enter_button_contain">
        <a id = "enter_button" href="/uncanny">ENTER</a>
    </div>
</div>



<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>
<script src="javascripts/intro.js"></script>