<p style = "text-align: justify; font-size:large; padding: 0px 50px 0px 5px;">
    <B>UNCANNY</B> IS A STUDENT SEMINAR CREATED AS PART OF THE COURSE "INTERACTION AND INFORMATION DESIGN". IT IS 
AN EXPERIMENTAL PUBLICLY AVAILABLE EXPERIENCE, WHICH EXPLORES THE FIELDS OF CREATIVE CODING AND 
NEW AGE HCI (HUMAN COMPUTER INTERACTIONS). THE INSPIRATION FOR THIS WORK IS A PHENOMENON CALLED
"UNCANNY VALLEY" - A CHARACTERISTIC DIP IN EMOTIONAL RESPONSE THAT HAPPENS WHEN WE ENCOUNTER AN ENTITY 
THAT IS ALMOST, BUT NOT QUITE, HUMAN. IT WAS FIRST HYPOTHESISED IN 1970 BY THE JAPANESE ROBOTICIST MASAHIRO MORI, 
WHO IDENTIFIED THAT AS ROBOTS BECAME MORE HUMAN-LIKE, PEOPLE WOULD FIND THEM TO BE MORE ACCEPTABLE 
AND APPEALING THAN THEIR MECHANICAL COUNTERPARTS. BUT THIS ONLY HELD TRUE TO UP A POINT. WHEN THEY 
WERE CLOSE TO, BUT NOT QUITE, HUMAN, PEOPLE DEVELOPED A SENSE OF UNEASE AND DISCOMFORT.

<br>
ANYTHING WITH A HIGHLY HUMAN-LIKE APPEARANCE CAN BE SUBJECT TO THE UNCANNY VALLEY EFFECT, 
BUT THE MOST COMMON EXAMPLES ARE ANDROIDS, COMPUTER GAME CHARACTERS AND LIFE-LIKE DOLLS.
</p> 
<p style = "text-align: justify; font-size:large; padding: 0px 50px 0px 5px;">
<b>NOTE: </b> THIS WEBSITE DOES NOT COLLECT ANY PERSONAL INFORMATION, IT IS DESIGNED OUT OF CURIOSITY
AND AS A LEARNING EXPERIENCE FOR THE AUTHOR. THE VIDEO FROM WEBCAMERA IS USED ONLY TO DETECT FACIAL 
LANDMARKS WITH COMPUTER VISION ALGORITHMS. 
</p> 
<p style = "text-align: justify; font-size:large; padding: 0px 50px 0px 5px;">
<b>MORE INFO:</b> AUTHOR: TIM KRIZNIK /   CONTACT: tk0730@student.uni-lj.si / FACULTY OF COMPUTER AND INFORMATION SCIENCE FRI, LJUBLJANA,
SLOVENIA / INTERACTION AND INFORMATION DESIGN / DECEMBER, 2020.
</p> 