<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Custom styles -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
