<video id="video" playsinline style="
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          visibility:hidden;
          position: absolute;
          width: auto;
          height: auto;
          ">
        </video>
<!--
<div id="text1"><p class = "pUncanny">NEANDERTHAL TO HUMAN BEING, EVOLUTION, KILL THE GENE</p></div>
<div id="text2"><p class = "pUncanny">BIOLOGY IS SUPERFICIAL, INTELLIGENCE IS ARTIFICIAL</p></div>-->

<!-- 1. FACE-API.JS -->
<script src = "javascripts/face-api.min.js"></script>
<script src = "javascripts/detection.js"></script>


<!-- 2. TFJS MEDIAPIPE FACEMESH 
<script src="https://unpkg.com/@tensorflow/tfjs-core@2.4.0/dist/tf-core.js"></script>
<script src="https://unpkg.com/@tensorflow/tfjs-converter@2.4.0/dist/tf-converter.js"></script>
<script src="https://unpkg.com/@tensorflow/tfjs-backend-webgl@2.4.0/dist/tf-backend-webgl.js"></script>
<script src="https://unpkg.com/@tensorflow-models/face-landmarks-detection@0.0.1/dist/face-landmarks-detection.js"></script>
<script src = "javascripts/detection_face_mesh.js"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r123/three.min.js" integrity="sha512-Q+IG0h7As6sfqE2t1Xf5IeamNyCXb4EXxGCA9Mlbpv7xtwurVHNdVDbyWeSQ3ulPf2FRlqeu77Ec3SJDdIR63w==" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
<script src="https://rawgithub.com/mrdoob/three.js/r104/examples/js/utils/BufferGeometryUtils.js"></script>
<script src='https://threejs.org/examples/js/postprocessing/EffectComposer.js'></script>
<script src='https://threejs.org/examples/js/postprocessing/RenderPass.js'></script>
<script src='https://threejs.org/examples/js/postprocessing/ShaderPass.js'></script>
<script src="https://threejs.org/examples/js/shaders/LuminosityHighPassShader.js"></script>
<script src='https://threejs.org/examples/js/shaders/CopyShader.js'></script>
<script src="https://threejs.org/examples/js/postprocessing/UnrealBloomPass.js"></script>

<script src="javascripts/shaders.js"></script>
<script src="javascripts/three_sketch.js"></script>

<audio id="audiotag1" src="images/tts2_audio.mp3" preload="auto"></audio>
<!--<script src="javascripts/sketch.js"></script>-->